<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if session[:user] %>
	
	<% else %>
	<div class="login_button">
		<form action="/signin" method="post">
			<input type="text" name="name" placeholder="ユーザー名">
			<input type="password" name="password" placeholder="パスワード">
			<input type="submit" value="ログイン">
		</form>
	</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>

	<% unless @posts.empty? %>
		<% @posts.each do |post| %>
			<div class="post center-vertical">
				<img src="<%= post.icon %>" width="125" height="125">
				<p>アーティスト: <%= post.artist %></p>
				<p>コメント: <%= post.comment %></p>
				<p>投稿者: <%= post.user.name %><br>
						<% if false %>
					<a href="#">フォローする</a>
					<a href="#">フォロー解除</a><br>
					<% end %>
				</p>
				<p>イイねしたユーザー<br>
					<% unless post.likes.empty? %>
						<% post.likes.each do |like| %>
							<img class="user-icon" src="<%= like.user.icon %>">
						<% end %>
					<% end %>
				</p>
				<% if Likes.find_by(user_id: session[:user], post_id: post.id).nil? %>
					<a href="/favorite/<%= post.id %>">いいねする</a>
				<% else %>
					<a href="/favorite/<%= post.id %>">いいねを外す</a>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
</section>
