<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="post">
		<input type="text" name="keyword" placeholder="アーティスト名">
		<input type="submit" value="検索">
	</form>
	
	<h2>検索結果</h2>
	<% unless @musics.nil? %>
		<div class="center-hrizontal">
			<% @musics.each do |music| %>
				<div class="post center-vertical">
					<img src="<%= music["artworkUrl100"] %>">
					<p><%= music["artistName"] %></p>
					<p><%= music["collectionName"] %></p>
					<p><%= music["trackName"] %></p>
					<a href="<%= music["previewUrl"] %>">サンプル</a>
					<form action="/post" method="post">
						<input type="hidden" name="jacket" value="<%= music["artworkUrl100"] %>">
						<input type="hidden" name="artist" value="<%= music["artistName"] %>">
						<input type="hidden" name="album" value="<%= music["collectionName"] %>">
						<input type="hidden" name="song" value="<%= music["trackName"] %>">
						<input type="hidden" name="sample" value="<%= music["previewUrl"] %>">
						<input type="text" name="comment" placeholder="コメント">
						<input type="submit" value="投稿">
					</form>
				</div>
			<% end %>
		</div>
		<% else %>
			<p>検索結果がありません</p>
		<% end %>
</section>